*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}
.logo {
    font-family: 'sunroll';
}
.homepage {
    max-width: 600px;
    margin: 20px;
    padding: 0 16px;
}
.intro {
    margin: 20px 0;
}
.task-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@font-face{
    font-family: 'sunroll';
    src: url('fonts/Sunroll.ttf');
    font-style: normal;
}